:root {
    --primary: #ccd4da;
    --secondary: #0a5a43;
    --tertiary: #22dddd;
    --light-dark: #863924;
    --dark: #38302e;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #eaeaea;
    font-weight: 500;
    text-align: center;
    justify-content: center;
  }
  
  .container {
    display: block;
  }

  .btn {
    border-radius: .25rem;
    border: 1px solid;
    height: 40px;
    margin-right: 5px;
  }
  .btn:hover {
    background-color: #22dddd;
    transition: ease-in;
    opacity: 90%;
  }


input {
    border-radius: .25rem;
    border: 1px solid;
    height: 40px;
  }